{% extends 'admin/base_site.html' %}
{% load i18n %}
{% load l10n %}

{% block title %}
    {% blocktranslate with order_id=order.id block_super=block.super %}
        Order {{ order_id }} {{ block_super }}
    {% endblocktranslate %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:orders_order_changelist' %}">{% trans 'Orders' %}</a> &rsaquo;
        <a href="{% url 'admin:orders_order_change' order.id %}">
            {% blocktranslate with order_id=order.id %}
                Order {{ order_id }}
            {% endblocktranslate %}
        </a> &rsaquo;{% trans 'Detail' %} 
    </div>
{% endblock %}

{% block content %}
    <div class="module">
        <h1>{% trans 'Order' %} {{ order.id }}</h1>
        <ul class="object-tools">
            <li>
                <a href="#" onclick="window.print();">
                    {% trans 'Print order' %}
                </a>
            </li>
        </ul>
        <table>
            <tr>
                <th>{% trans 'Created' %}</th>
                <td>
                    {% with date=order.created|date:"SHORT_DATETIME_FORMAT" %}
                    {% localize on %}
                        {{ date|localize }}
                    {% endlocalize %}
                {% endwith %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Customer' %}</th>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
            </tr>
            <tr>
                <th>{% trans 'E-mail' %}</th>
                <td>
                    <a href="mailto:{{ order.email }}">{{ order.email }}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans 'Address' %}</th>
                <td>
                    {{ order.address }}, {{ order.postal_code }} {{ order.city }}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Total amount' %}</th>
                <td>
                    {% blocktranslate with total_cost=order.get_total_cost|floatformat:2 %}
                        ${{ total_cost }}
                    {% endblocktranslate %}
                </td>
            </tr>
            <tr>
                <th>{% trans 'Status' %}</th>
                <td>{% if order.paid %}{% trans 'Paid' %}{% else %}{% trans 'Pending payment' %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans 'Stripe payment' %}</th>
                <td>
                    {% if order.stripe_id %}
                        <a href="{{ order.get_stripe_url }}" target="_blank">
                            {{ order.stripe_id }}
                        </a>
                    {% else %}
                        {% trans 'N/A' %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="module">
        <h2>{% trans 'Items bought' %}</h2>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Total' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{{ item.product.name }}</td>
                        <td class="num">{{ item.price }}</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }}</td>
                    </tr>
                {% endfor %}
                {% if order.coupon %}
                    <tr class="subtotal">
                        <td colspan="3">{% trans 'Subtotal' %}</td>
                        <td class="num">
                            {% blocktranslate with total_before_discount=order.get_total_cost_before_discount|floatformat:2 %}
                                ${{ total_before_discount }}
                            {% endblocktranslate %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            {% blocktranslate with code=order.coupon.code discount=order.discount %}
                                "{{ code }}" coupon
                                ({{ discount }}% off)
                            {% endblocktranslate %}
                        </td>
                        <td class="num neg">
                            {% blocktranslate with discount_amount=order.get_discount|floatformat:2 %}
                                - ${{ discount_amount }}
                            {% endblocktranslate %}
                        </td>
                    </tr>
                {% endif %}
                <tr class="total">
                    <td colspan="3">{% trans 'Total' %}</td>
                    <td class="num">
                        {% blocktranslate with total_cost=order.get_total_cost|floatformat:2 %}
                            {{ total_cost }}
                        {% endblocktranslate %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
