{% load i18n %}
{% load l10n %}
<html>
    <body>
        <h1>{% trans 'My Shop' %}</h1>
        <p>
            {% blocktranslate with order_id=order.id %} 
                Invoice no. {{ order_id }}
            {% endblocktranslate %}
            <br/>
            <span class="secondary">
                {% trans 'The order was placed: ' %}
                {% with date=order.created|date:"SHORT_DATETIME_FORMAT" %}
                    {% localize on %}
                        {{ date|localize }}
                    {% endlocalize %}
                {% endwith %}
            </span>
        </p>
        <h3>{% trans 'Bill to' %}</h3>
        <p>
        {% blocktranslate with first_name=order.first_name last_name=order.last_name email=order.email address=order.address postal_code=order.postal_code city=order.city %}
            {{ first_name }} {{ last_name }}<br/>
            {{ email }}<br/>
            {{ address }}<br/>
            {{ postal_code }}, {{ city }}
        {% endblocktranslate %}
        </p>
        <h3>{% trans 'Items bought' %}</h3>
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Quantity' %}</th>
                    <th>{% trans 'Cost' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        {% blocktranslate with name=item.product.name price=item.price quantity=item.quantity cost=item.get_cost %}
                            <td>{{ name }}</td>
                            <td class="num">${{ price }}</td>
                            <td class="num">{{ quantity }}</td>
                            <td class="num">${{ cost }}</td>
                        {% endblocktranslate %}
                    </tr>
                {% endfor %}
                {% if order.coupon %}
                    <tr class="subtotal">
                        <td colspan="3">
                            {% trans 'Subtotal' %} 
                        </td>
                        <td class="num">
                            {% blocktranslate with subtotal=order.get_total_cost_before_discount|floatformat:2 %}
                                ${{ subtotal }}
                            {% endblocktranslate %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            {% blocktranslate with code=order.coupon.code discount=order.discount %}
                                "{{ code }}" coupon
                                ({{ discount }}% off)
                            {% endblocktranslate %}
                        </td>
                        <td class="num neg">
                            {% blocktranslate with discount=order.get_discount|floatformat:2 %}
                                - ${{ discount }}
                            {% endblocktranslate %}
                        </td>
                    </tr>
                {% endif %}
                <tr class="total">
                    <td colspan="3">{% trans 'Total' %}</td>
                    <td class="num">
                        {% blocktranslate with total=order.get_total_cost|floatformat:2 %}
                            ${{ total }}
                        {% endblocktranslate %}
                    </td>
                </tr>
            </tbody>
        </table>

        <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
            {% if order.paid %}{% trans 'Paid' %}{% else %}{% trans 'Pending payment' %}{% endif %}
        </span>
    </body>
</html>
