{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Pay your order' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Order summary' %}</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>{% trans 'Image' %}</th>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2" %}">
                    <td>
                        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td class="num">
                        {% blocktranslate with price=item.price %}
                            ${{ price }}
                        {% endblocktranslate %}
                    </td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">{% blocktranslate with cost=item.get_cost%}${{ cost }}{% endblocktranslate %}</td>
                </tr>
            {% endfor %}
            {% if order.coupon %}
                <tr class="subtotal">
                    <td>{% trans 'Subtotal' %}</td>
                    <td colspan="3"></td>
                    <td class="num">
                        {% blocktranslate with cost_before_discount=order.get_total_cost_before_discount|floatformat:2 %}
                            ${{ cost_before_discount }}
                        {% endblocktranslate %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% blocktranslate with code=order.coupon.code discount=order.discount %}
                            "{{ code }}" coupon
                            ({{ discount }}% off)
                        {% endblocktranslate %}
                    </td>
                    <td colspan="3"></td>
                    <td class="num neg">
                        {% blocktranslate with discount_amount=order.get_discount|floatformat:2 %}
                        - ${{ discount_amount }}
                        {% endblocktranslate %}
                    </td>
                </tr>
            {% endif %}
            <tr class="total">
                <td colspan="3">{% trans 'Total' %}</td>
                <td class="num">
                    {% blocktranslate with total=order.get_total_cost|floatformat:2 %}${{ total }}{% endblocktranslate %}<td>
            </tr>
        </tbody>
    </table>
    <form action="{% url 'payment:process' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Pay now' %}">
    </form>
{% endblock %}
